/*navbar css*/
.navbar {
    padding: 0px 20px;
}
.nav-item {
    padding: 0px 25px;
}
.nav-link {
    color: black;
    font-size: 20px;
}
.nav-link:hover {
    color: gray
}
.active {
    color: blue;
}

/*page css*/
.newspage {
    width: 70%;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 60px;
}
.dnf {
    font-size: 35px;
    position: relative;
    left: 400px;
}

@media (min-width: 1024px) and (max-width: 1399px) {
    .nav-item {
        padding: 0px 10px;
    }
  }